@import './../../index.css';

.header {
    grid-area: h;
    background-color: var(--main-color-darker);
}

.header img {
    width: 50px;
}

.login {
    float: right;
    color: white;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}
