@import './index.css';

.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'h h'
        's c'
        'f f';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    background-color: var(--main-color-light);
}

.app-wrapper-content {
    grid-area: c;
    background-color: --main-color-light;
}
