:root {
    --main-color-dark: #20232a;
    --main-color-darker: rgb(1, 15, 20);
    --main-color-light: #ffffff;
    --additional-color-light: #61dafb;
    --app-backround-color: rgb(230, 230, 230);
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--app-backrgound-color);
}

body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
